.footer-container{
    padding: 40px;
    background-color: var(--blue01);
    width: 100%;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.footer-contato {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-contato h1 {
  color: #fff;
  font-family:VisbyCF-Medium ;

}
.footer-menu {

}

.footer-form {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.footer-form h1 {
  color: var(--blue01);
  font-family:VisbyCF-Medium ;
  margin-bottom: 30px;
}

.footer-links {
  height: 100%;
  padding: 0 20px;
}

.footer-links li{
  padding: 10px;
}
.footer-links a {
  color: #fff;
  font-family:VisbyCF-Light ;
}

.container-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-bottom: 30px;
}

.container-form input{
    width: 100%;
    border:none;
    border-radius: 5px;
    background-color: var(--blue02);
    font-family: VisbyCF-Medium;
    color:white;
    margin-bottom: 18px;
}

.container-form button{
    background-color: var(--blue02);
    color:white;
    border:none;
    text-transform: uppercase;
    border-radius: 5px ;
    width: 100%;
    max-width: 250px;
    font-family: VisbyCF-Medium;
    margin: none;
}
.container-form input:focus{
    outline: none;
}


@media screen and (max-width: 768px) {
  .container-form input, .container-form button{
    padding: 18px;
    font-size: 14px;
  }

}

@media screen and (min-width: 769px) {
   .container-form input, .container-form button{
    padding: 25px;
    font-size: 16px;
  }
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}