@font-face{
  font-family: VisbyCF-Bold;
  src: url(../fonts/VisbyCF-Bold.otf);
}
@font-face{
  font-family: VisbyCF-Medium;
  src: url(../fonts/VisbyCF-Medium.otf);
}
@font-face{
  font-family: VisbyCF-Light;
  src: url(../fonts/VisbyCF-Light.otf);
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

* {
	box-sizing: inherit;
}

body {
  margin: 0;
	overflow-x: hidden;
  font-family: VisbyCF-Light;
  height: 100vh;
  --blue01: #2f81f8;
  --blue02: #2bc6fc;
  --cyano01: #0fb3ce;
  --cyano02: #20edd9;
  --green01: #12dd7c;
  --green02: #2ff895;

}


html {
	box-sizing: border-box;
	line-height: 1.5;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
  font-size: 16px;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}





