@font-face{
  font-family: VisbyCF-Bold;
  src: url(../fonts/VisbyCF-Bold.otf);
}
@font-face{
  font-family: VisbyCF-Medium;
  src: url(../fonts/VisbyCF-Medium.otf);
}
@font-face{
  font-family: VisbyCF-Light;
  src: url(../fonts/VisbyCF-Light.otf);
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-size: 62%;

  --blue01: #2f81f8;
  --blue02: #2bc6fc;
  --cyano01: #0fb3ce;
  --cyano02: #20edd9;
  --green01: #12dd7c;
  --green02: #2ff895;

}
section{
  height: 800px;
}
h1,h2,h3,h4,h5 p {
  margin: 0;
}
div {
  box-sizing: border-box;
}


