.ajuste-header {
  width: 100%;
  height:80px;
}
.header{
  width: 100%;
  display:flex;
  justify-content: center;
  position: fixed;
  z-index: 20;
  background-color: #fff;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  display: flex;
}

.header-container nav {
  display: flex;
  height: 100%;
  width: 80%;
}

.header-links{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}


.header-links li{
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  cursor:pointer;
  height: 50px;
}

.header-links a{
  display: flex;
  align-items: center;
  height: 100%;
  color:#000;
  width: 100%;
  text-align: center;
  text-decoration:none;
  font-family: VisbyCF-Medium;
  font-size: 16px;
}

.header-links a:hover{ 
  color: var(--green01)!important;
}

.header-links .active a {
  color: var(--green01)!important;
}

.header-logo {
   height:50px;  
}

.header-logo img{
  height: 100%;
  fill: var(--blue01);
  transition: 0.3s;
}

.header-icon-menu {
  width: 40px;
  height: 40px;
}
.header-icon-menu svg {
  width: 100%;
  height: 100%;
}

.header-icons {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 768px) {

  .header-icon-menu { 
    display: block;
  }
  .header-container {

  }
  .header-container nav {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    transform: translatex(-110%);
    transition: 0.5s;
  }

  .header-logo { 
    margin-left: 40px;
  }

  .active-menu {
    transform: translatex(0%)!important;
    transition: 0.5s;
  }

  .header-links {
    flex-direction: column;
    height: 100%;
    background-color:#fff;
    width: 85%;
  }

  .header-links li {
    margin: 0;
    height: 60px;
  }

  .header-links a {
    padding: 0 16px;
  }

  .header-icons {
    width: 100%;
    padding: 16px;
  }

}

@media screen and (min-width: 769px) {
  .header-links {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-links li {
    margin: 0 10px;
    padding: 0;
    height: 50px;
  }

  .header-links a {
    justify-content: center;
    padding: 0;
  }

  .header--float {
    transition: 0.5s;
  }

  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .header--pined {
    transform: translateY(0%);
  }
  .header--unpinned {
    transform: translateY(-100%);
  }
  .header-container {
    padding: 0 16px;
    justify-content: space-between;
  }
  .header-container nav {
    justify-content: center;
    align-items: center;
  }
  .header-container {
    align-items: center;
  }

  .header-icon-menu { 
    display: none;
  }
}
