header{
    background-color: black;
    width: 100%;
    height:120px;
    display:flex;
    justify-content: center;
    position: fixed;
    top:0;
    transition: all ease 1.1s;
    z-index: +1; 
}

.header-container {
  width: 100%;
  max-width: 1440px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container nav {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
}

.header-container ul {
    margin: 0;
    padding: 0;
}


.header-links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.header-links li{
    height: 50px;
    background-color: var(--blue01);
    width: 150px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor:pointer;
    
}

.header-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: aliceblue;
    width: 100%;
    text-align: center;
    text-decoration:none;
    font-family: VisbyCF-Medium;
    font-size: 1.4em;
}

.header-logo {

}

.header-logo svg{
  width: 100px;
  height: 82px;
 fill: var(--blue01);
  
}

