.historia-first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.historia-container-img {
  height: 400px;
}
.historia-first-section-container{
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}
.historia-first-section-container-img { 
  height: 100%;
}

.historia-first-section-container-img img { 
  height: 100%;
}
.historia-first-section-container-text {
  
}

.historia-first-section-container-text h1{
    text-align: left;
    margin:0;
    color: var(--blue01);
    font-weight: 900;
}

.historia-first-section-container-text h5{
    text-align: left;
    margin-top: 30px;
    font-weight: 400;
    max-width: 500px;
    color: #000;
}

.historia-second-section{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color:var(--blue01);
  width: 100%;
  padding: 0 16px;
}

.historia-second-section .second-section-container {
  max-width: 1400px;
  display: flex;
  align-items: center;
}

.historia-second-section .second-section-container h1 { 
  text-align: left;
}

.third-section-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: white;
    text-align: center;
}
.historia-third-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.historia-third-section-container h1{
    text-align: center;
    color: var(--blue01);
    margin-bottom: 40px;
}
.conquistas-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.conquistas-container-wrapper h1 {
  color: var(--blue01);
  margin-bottom: 40px;
}
.conquistas-images {
  margin-bottom: 40px;
}

.conquistas-images ul {
  display: flex;
  width: 100%;
}

.conquistas-images li img{
  width: 100%;
}


@media screen and (max-width: 768px) {
  h1{
    font-size: 40px;
  }

  h5{ 
    font-size: 16px;
  }
  .historia-first-section-container{ 
    flex-direction: column;
  }

  .historia-first-section-container-text {
    color: var(--blue01);
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
    max-width: 500px;
  }
  .historia-container-img {
    height: 200px;
  }

  .historia-second-section .second-section-container {
    flex-direction: column;
  } 

  .historia-first-section-container-text h1{
    text-align: center;
  }

  .conquistas-images li {
    width: 120px;
    padding: 10px;
  }
}

@media screen and (min-width: 769px) { 
  h1{
    font-size: 60px;
  }

  h5{ 
    font-size: 20px;
  }
  .historia-first-section-container-text {
    color: var(--blue01);
    width: 60%;
    padding: 0 50px;
    max-width: 700px;
  }
  .historia-container-img {
    height: 400px;
  }
  
  .historia-first-section-container-text h1{
    font-size: 70px;
    line-height: 70px;
  }

  .historia-second-section .second-section-container {
    padding: 0 100px;
  }

  .historia-second-section .second-section-container h1 { 
    margin-left: 100px;
  }

  .historia-second-section .second-section-container h5 { 
    max-width: 800px;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
  }

  .conquistas-images li {
    width: 164px;
    padding: 10px;
  }
}
