.first-section{
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
}

.first-section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  transition: 0.6s;
}

.first-section-container-text {
  padding: 50px;
}

.first-section-container-text h1 {
  color: var(--blue01);
  font-weight: 900;
}

.first-section-container-text h1{
  text-align: left;
  margin:0;
  font-family: VisbyCF-Medium;
}

.first-section-container-text h5{
  text-align: left;
  font-family: VisbyCF-Light;
  margin-top: 30px;
}

.second-section{
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: url('../assets/dados-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 0 0 8px rgba(0,0,0,0.8) ;
}

.second-section-container{
  max-width:900px;
  width: 100%;
  text-align: center;
}

.second-section-container h1 {
  color: #fff;
  font-weight: bold;
  font-family: VisbyCF-Medium;
}

.second-section-container h5{
  font-family: VisbyCF-bold;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

.third-section-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: white;
  text-align: center;
  padding:50px 0;
}
.third-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section-container h1{
  font-family: VisbyCF-Medium;
  text-align: center;
  color: var(--blue01);
  margin-bottom: 40px;
}
.cards-wrapper {
  width: 100%;
}

.cards-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card-content {
  background-color: #F7F7F7;
  color: #000;
  border-radius: 10px ;
  padding: 40px 30px;
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  width: 300px;
}

.circle-image {
  width: 100px;
  height: 100px;
  background-color: var(--blue01);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.circle-image img {
  width: 100%;
}

.card-content h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--blue01);
  font-family:VisbyCF-Bold ;
  line-height: 18px;
}
.card-content p {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
.card-content button {
  background-color: var(--blue02);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  min-width: 150px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 40px;
    line-height: 45px;
  }

  h5{ 
    font-size: 16px;
  }
  .card-content {
    margin: 0 10px;
  }
  
}

@media screen and (min-width: 769px) { 
  h1{
    font-size: 60px;
  }

  h5{ 
    font-size: 20px;
  }

  .first-section-container-text h1 {
    font-size: 120px;
    line-height: 120px;
  }

  .first-section-container-text h5 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1025px) {
  .cards-list { 
    max-width: 80%;
    margin: auto;
  }
}
