.first-section {
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='1439' height='902' viewBox='0 0 1439 902' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.19' d='M0 55H1439V828.5C1439 828.5 1185 891.089 703 765.727C221 640.366 0 932.5 0 932.5V55Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M0 -3H1439V746.421C1439 746.421 1180.5 871.877 698.5 746.421C216.5 620.964 0 758 0 758V-3Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='25' y1='932.5' x2='538.143' y2='-71.451' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2312C9FD'/%3E%3Cstop offset='1' stop-color='%231A60E8'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='25' y1='802.179' x2='471.667' y2='-150.206' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2312C9FD'/%3E%3Cstop offset='1' stop-color='%231A60E8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
}

.first-section .container {
  margin: auto;
  display: flex;
}

.first-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.6s;
 
}

.first-section-container-image {
  width: 60%;
}
.first-section-container-image img{ 
  width: 100%;
}

.first-section-container-text {
  width: 40%;
  padding: 50px;
}

.first-section-container-text h1 {
  color: var(--white);
  font-weight: 900;
}

.first-section-container-text h1{
  text-align: left;
  margin:0;
}

.first-section-container-text h5{
  color: var(--white);
  text-align: left;
  margin-top: 30px;
  font-weight: 400;
}

.second-section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: url('../assets/dados-background2.png');
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 0 0 8px rgba(0,0,0,0.8) ;
  padding: 0 16px;
}

.second-section-container{
  max-width:900px;
  width: 100%;
  text-align: center;
}

.second-section-container h1 {
  color: #fff;
  font-weight: bold;
}

.second-section-container h5{
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  text-align: justify;
  font-weight: 400;
}

.third-section-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: white;
  text-align: center;
  padding:50px 0;
}
.third-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section-container h1{
  text-align: center;
  color: #404040;
  margin-bottom: 40px;
  font-size: 40px;
}
.cards-wrapper {
  width: 100%;
}

.cards-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card-content {
  background-color: #F7F7F7;
  color: #000;
  border-radius: 10px ;
  padding: 40px 30px;
  display: flex!important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  width: 300px;
}

.circle-image {
  width: 100px;
  height: 100px;
  background-color: var(--blue01);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.circle-image img {
  width: 100%;
}

.card-content h2 {
  font-size: 22px;
  font-weight: bold;
  color: var(--blue01);
  line-height: 18px;
}
.card-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.card-content button {
  background-color: var(--blue02);
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  min-width: 150px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 40px;
    line-height: 45px;
  }

  h5{ 
    font-size: 16px;
  }
  .card-content {
    margin: 0 10px;
  }
  .second-section-container h1 { 
    text-align: left;
  }
  
}

@media screen and (min-width: 769px) { 
  h1{
    font-size: 60px;
  }

  h5{ 
    font-size: 20px;
  }

  .first-section-container {
    flex-direction: row;
  }

  
  .first-section-container-image {
    width: 60%;
  }
  .first-section-container-text {
    width: 40%;
  }

  .first-section-container-text h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .first-section-container-text h5 {
    font-size: 24px;
  }

  .second-section-container h1 {
    font-size:70px;
    line-height: 70px ;
    margin-bottom: 60px;
  }

  .second-section-container h5 {
    font-size:30px;
    line-height: 50px ;
  }
  .second-section { 
    background-size: 120%;
  }
}

@media screen and (min-width: 1025px) {
  .cards-list { 
    max-width: 80%;
    margin: auto;
  }

  .first-section-container-image {
    width: 65%;
  }
  .first-section-container-text {
    width: 35%;
  }
}
